<!doctype html>
<head>
  <title> Welcome to Igloo </title>
</head>

<body>
  <!-- <form id="logout">
    <input name="logoutbutton" type="submit" value="None"> Logout </input>
  </form> -->
  <button name=logout onclick="/logout"> Logout </button>
  <form method="POST" id="usernameform">
    {% if not username %}
      <p> Please enter your name </p>
      <input name="username" placeholder="Name"/>
      <p> <input name="submitusername" type="submit"/> </p>
    {% endif %}
  </form>

  {% if username %}
  <p> Hello {{username}}! What would you like to do today? </p>
  <a type="button" name="addConnection" href="add"> Add connections </a>
  <a href="search"> Discover my 2nd degree connections </a>
  {% endif %}
</body>
